@using MvcStok.Models.Entity
@model List<TBL_MUSTERİ>

@{
    ViewBag.Title = "MüşteriListesi";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<br />

@using (Html.BeginForm("MüşteriListesi", "Müşteri", FormMethod.Get))
{
    <p>
        <b> Aranacak Müşteri Adı:</b> @Html.TextBox("p")
        <input type="submit" value="Ara" class="btn btn-info"/>
    </p>
}
<br />
<table class="table table-bordered">
    <tr>
        <th>Müşteri ID</th>
        <th>Müşteri ADI</th>
        <th>Müşteri Soyadı</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>ALERT</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.müsteriıd</td>
            <td>@item.müsteriad</td>
            <td>@item.müsterisoyad</td>
            <td><a href="/Müşteri/Sil/@item.müsteriıd" class="btn btn-danger">SİL</a></td>
            <td><a href="/Müşteri/MüşteriGetir/@item.müsteriıd" class="btn btn-success">GÜNCELLE</a></td>

            <td>@Html.ActionLink("SİL BUTONU", "Sil", new { id = item.müsteriıd }, new { @class = "btn btn-warning", onclick = "return confirm('Gerçekten Silmek İstiyor Musunuz?')" })  </td>


        </tr>
    }



</table>
<a href="/Müşteri/YeniMüşteri/" class="btn btn-info">YENİ MÜŞTERİ EKLE</a>

